:root {
  --blue-900: hsl(217, 54%, 11%);
  --blue-700: hsl(216, 50%, 16%);
  --blue-500: hsl(215, 32%, 27%);
  --blue-300: hsl(215, 51%, 70%);

  --cyan: hsl(178, 100%, 50%);
  --white: hsl(0, 0%, 100%);
}

body {
  background-color: var(--blue-900);

  height: 100vh;
  width: 100vw;

  margin: 0;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  font-size: 18px;
}

.card {
  background-color: var(--blue-700);
  font-family: "Outfit", sans-serif;

  width: 300px;

  padding: 1em 1.5em;
  border-radius: 1em;
}

.image-wrapper {
  position: relative;
}

.image-wrapper .view {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.card-image {
  width: 100%;
  border-radius: 0.5em;
}

.card-image:hover {
  cursor: pointer;
}

.card-image:hover ~ img {
  display: block;
}

.card h1 {
  color: var(--white);
}

.card h1:hover {
  cursor: pointer;
  color: var(--cyan);
}

.card p {
  color: var(--blue-300);
  font-weight: 300;
}

.info {
  display: flex;
  justify-content: space-between;
}

.info img {
  width: auto;
  height: 20px;
}

.info div {
  display: flex;
  align-items: center;
}

.info div span {
  margin-left: 0.4em;
}

.value {
  color: var(--cyan);
}

.days-left {
  color: var(--blue-300);
}

.profile {
  display: flex;
  align-items: center;
  border-top: 1px solid var(--blue-300);
  margin-top: 1em;
  padding-top: 0.75em;
}

.profile img {
  border: 1px solid var(--white);
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.profile p {
  font-size: 14px;
  margin-left: 1em;
}

.profile a {
  color: var(--white);
  text-decoration: none;
}

.profile a:hover {
  color: var(--cyan);
}
